<%=link_to follows_customer_path(customer.id) do %>
  <%= customer.followings.count %>フォロー
<% end %><br>
<%=link_to followers_customer_path(customer.id) do %>
  <div id="follow_count">
    <%= render 'customers/relationships/follower_count', customer: customer %>
  </div>
<% end %><br>

