<div class="col-xs-1"></div>
<div class="col-xs-8">
    <table class="table">
      <tr class="active">
        <th></th>
        <th>ユーザネーム</th>
        <th>会員ステータス</th>
        <th></th>
      </tr>
      <%= render partial: "customers/customers/search_data", collection: customers %>
    </table>
</div>
<div class="col-xs-1"></div>