<h3>フォロー一覧</h3>
<table class="table">
  <tr class="active">
    <th></th>
    <th>ユーザネーム</th>
    <th>会員ステータス</th>
    <th></th>
  </tr>
  <%= render partial: "customers/customers/follow", collection: @customers  %>
</table>