<h3>会員一覧</h3>
<table class="table">
  <tr class="active">
    <th>会員ID</th>
    <th>ユーザネーム</th>
    <th>氏名</th>
    <th>会員属性</th>
    <th>会員ステータス</th>
    <th>編集ページ</th>
    <th>詳細ページ</th>
  </tr>
  <%= render @customers %>
</table>