<tr>
  <td><%= comment_ranking_counter + 1 %></td>
  <td><%= comment_ranking.customer.username %></td>

  <td>
    <i class="fa fa-comment" aria-hidden="true" style="color: blue;"></i>
    <%= comment_ranking.comments.count %>件
  </td>
</tr>
<tr>
  <td colspan="3"><%= comment_ranking.body %></td>
</tr>