<tr>
  <td></td>
  <td><%= comment_ranking.customer.username %></td>
  <td><%= comment_ranking.body %></td>
  <td>
    <i class="fa fa-comment" aria-hidden="true" style="color: blue;"></i>
    <%= comment_ranking.comments.count %>件
  </td>
</tr>