<div class="col-xs-1"></div>
<div class="col-xs-8">
    <table class="table">
      <tr class="active">
        <th></th>
        <th>ユーザネーム</th>
        <th>つぶやき</th>
        <th></th>
      </tr>
      <%= render partial: "customers/posts/search_data", collection: posts %>
    </table>
</div>
<div class="col-xs-1"></div>